/* .login{
    display: inline-block;
    padding:1em 1.5em;
    border:0.15em solid #080808;
    margin:20px 0.3em 0.3em 0;
    border-radius:15px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Open Sans', sans-serif;
    font-weight:300;
    
    color:#000000b4;
    text-align:center;
    transition: all 0.2s;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    background-color: #9cbecc02;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.login:hover{
    color:#000000;
    background-color:#7bbdda8f;
} */

.username{
    color: #353232; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 40px;
    font-weight: 300; 
    line-height: 58px;
}

.playlists {
    margin-left: 50px;
    margin-right: 20px;
}

.profile {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.artistsButton{
    display: inline-block;
    padding:1em 1.5em;
    border:0.15em solid #080808;
    margin:20px 0.3em 0.3em 0;
    border-radius:15px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Open Sans', sans-serif;
    font-weight:300;
    
    color:#000000b4;
    text-align:center;
    transition: all 0.2s;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    background-color: #9cbecc02;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.artistsButton:hover{
    color:#000000;
    background-color:#7bbdda8f;
}

.playlistsButton{
    display: inline-block;
    padding:1em 1.5em;
    border:0.15em solid #080808;
    margin:20px 0.3em 0.3em 0;
    border-radius:15px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Open Sans', sans-serif;
    font-weight:300;
    
    color:#000000b4;
    text-align:center;
    transition: all 0.2s;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    background-color: #9cbecc02;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.playlistsButton:hover{
    color:#000000;
    background-color:#7bbdda8f;
}

.topTracksButton{
    display: inline-block;
    padding:1em 1.5em;
    border:0.15em solid #080808;
    margin:20px 0.3em 0.3em 0;
    border-radius:15px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Open Sans', sans-serif;
    font-weight:300;
    
    color:#000000b4;
    text-align:center;
    transition: all 0.2s;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    background-color: #9cbecc02;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.topTracksButton:hover{
    color:#000000;
    background-color:#7bbdda8f;
}